body {
background-color: #D6F5E1;}

h2 {
margin-top: 25px;
}

.col{
margin: 25px;
}

.btn btn-light{
font-size: 5;
font-style: bold;
}

.list-group{
margin-bottom: 25px;
}

.card{
margin-bottom: 10px;
}