{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Главная страница</h2>
        <div class="card" style="width: 50rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    <div class="col">
        <p>Актуальные темы:</p>
    </div>
</div>
{% endblock %}
