{% extends "base.html" %}

{% block content %}
<center>
    <h1 style="margin:20px;">Регистрация</h1>
</center>
<form action="" method="post">
    <div class="row align-items-center mb-3 border-danger">
        <div class="col-sm-2"></div>
        <label for="inputEmail" class="col-sm-2 col-form-label fs-5 fw-medium">Почта</label>
        <div class="col-sm-4">
            <div class="form-floating">
                <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
                <label for="inputEmail">Введите адрес электронной почты</label>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Одноразовый код</button>
        </div>
    </div>
    <div class="row align-items-center mb-3">
        <div class="col-sm-2"></div>
        <label for="inputPassword" class="col-sm-2 col-form-label fs-5 fw-medium">Пароль</label>
        <div class="col-sm-4">
            <div class="form-floating">
                <input type="password" class="form-control" id="inputPassword" placeholder="password">
                <label for="inputPassword">Убедитесь в надёжности</label>
            </div>
        </div>
    </div>
    <div class="row align-items-center mb-3">
        <div class="col-sm-2"></div>
        <label for="inputCode" class="col-sm-2 col-form-label fs-5 fw-medium">Одноразовый код</label>
        <div class="col-sm-4">
            <div class="form-floating">
                <input type="password" class="form-control" id="inputCode" placeholder="password">
                <label for="inputCode">Проверьте почту и папку спам</label>
            </div>
        </div>
    </div>
    <div class="row align-items-center mb-3">
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </div>
    </div>
</form>
{% endblock %}