{% extends "base.html" %}

{% block content %}
<h2>Поиск по сайту</h2>
<div class="row">
    <form class="d-flex" method="post">
            <input type="search" class="form-control me-2" id="search" placeholder="Текст поиска" name="search">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    <div class="col">
        <h3>Темы</h3>
        {% if len_topic == 0 %}
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <h5>Не найдено тем</h5>
                </div>
            </div>
        {% else %}
            {% for topic in topics %}
            <div class="card" style="width: 50rem;">
              <div class="card-body">
                <h5 class="card-title">{{ topic.title }}</h5>
                <p class="card-text">{{ topic.description }}</p>
                {% if current_user.is_authenticated %}
                    <a href="/topic/{{ topic.id }}/create-post" type="button" class="btn btn-success">Создать пост</a>
                {% else %}
                    <a href="/topic/{{ topic.id }}/create-post" type="button" class="btn btn-success disabled">Создать пост</a>
                {% endif %}
                <a href="/topic/{{ topic.id }}" type="button" class="btn btn-success">Перейти</a>
              </div>
            </div>
            {% endfor %}
        {% endif %}

        <h3>Посты</h3>
        {% if len_post == 0 %}
            <div class="card" style="width: 50rem;">
                <div class="card-body">
                    <h5>Не найдено постов</h5>
                </div>
            </div>
        {% else %}
            {% for post in posts %}
            <div class="card" style="width: 50rem;">
              <div class="card-body">
                <a href="post/{{ post.id }}" class="link-success">
                    <h5>{{ post.title }}</h5>
                </a>
                <div><i>
                    Автор - <a href="/profile/{{ post.author.id }}" class="link-success">{{ post.author.name }}</a>, Тема - {{ post.topic.title }} {{ post.created_date.strftime("%d/%m/%Y %H:%M") }}
                </i></div>
                  <p>
                  <p class="card-text">{{ post.text }}</p>
                  <a><i>Нравится ({{ post.count_likes }})</i></a>
              </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}